.header {
  position:fixed;
  top: 1rem;
  transform: translateX(-50%);
  width: clamp(280px, 70%, 900px);
  left: 50%;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--background-nav);
  border-radius: 2rem;
  z-index: 1000;
  background: rgba(53, 86, 104, 0.786);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-top-color: rgba(255, 255, 255, 0.28);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    0 1px 0 rgba(255, 255, 255, 0.12) inset,
    0 -1px 0 rgba(0, 0, 0, 0.2) inset;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: clamp(1.5rem, 4vw, 4rem);
}

.navLink {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--foreground);
  transition: color 0.2s;
  text-decoration: none;
  transition-property: transform, background-color;
  transition-delay: 150ms;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
}

.navLink:hover {
  color: var(--color-accent);
  transform: translateY(-4px) scale(1.1);
}

.logoutBtn {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--foreground);
  background-color: var(--color-alert-high);
  border: none;
  cursor: pointer;
  transition-property: transform, color;
  transition-delay: 150ms;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  border-radius: 10;
  width: 40px;
  padding: 4;
}

.logoutBtn:hover {
  background-color: "#e46868";
  transform: translateY(-4px) scale(1.1);
  opacity: 0.8;
}

/*MEDIA QUERIES*/

@media (max-width: 600px) {
  .header {
    width: 98%;
    padding: 0.5rem 0.75rem;
  }

  .nav {
    grid-template-columns: 1fr auto 1fr;
    gap: 0.1rem;
  }

  .navLeft,
  .navRight {
    gap: 3rem;
  }

  .navLink {
    font-size: 0.55rem;
  }

  .logoWrapper {
    min-width: 40px;
  }

  .logoutBtn {
    font-size: 0.55rem;
  }
}

