@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-alert-high: #e46868;
  --color-alert-medium: #e6ac6e;
  --color-alert-low: #94d578;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #091113 ;
    --background-nav: #355668;
    --foreground: #F0F4F5 ;
    --color-primary: #9ACCD9;
    --color-secondary: #236E81;
    --color-accent: #2EB7D9;
    --color-alert-high: #e46868;
    --color-alert-medium: #e6ac6e;
    --color-alert-low: #94d578;
  }
}

@media (prefers-color-scheme: light){
  :root {
    --background: #F5FDFF;
    --background-nav: #609cbc;
    --foreground: #0A0E0F;
    --color-primary: #10C8F5;
    --color-secondary: #9EA3C2;
    --color-accent: #4A65F8;
    --color-alert-high: #e46868;
    --color-alert-medium: #e6ac6e;
    --color-alert-low: #94d578;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}